<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SmartHealthWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/validuser/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>HomeFilter</filter-name>
    <url-pattern>/validuser/loggedin.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>QuitedFilter</filter-name>
    <url-pattern>/validuser/join.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ForumFilter</filter-name>
    <url-pattern>/validuser/forum.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ModeratorFilter</filter-name>
    <url-pattern>/validuser/moderator/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EndUserFilter</filter-name>
    <url-pattern>/validuser/enduser/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/validuser/admin/*</url-pattern>
  </filter-mapping>
</web-app>